Web/WebServicesAssignment1/webservice/SoapAssignment/WebContent/wsdl/TemperatureConvertor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webServices.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webServices.metacube.com" xmlns:intf="http://webServices.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webServices.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="temperatureConvertor">
    <complexType>
     <sequence>
      <element name="tempInFahrenheit" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="temperatureConvertorResponse">
    <complexType>
     <sequence>
      <element name="temperatureConvertorReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="temperatureConvertorResponse">

      <wsdl:part element="impl:temperatureConvertorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="temperatureConvertorRequest">

      <wsdl:part element="impl:temperatureConvertor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TemperatureConvertor">

      <wsdl:operation name="temperatureConvertor">

         <wsdl:input message="impl:temperatureConvertorRequest" name="temperatureConvertorRequest">

       </wsdl:input>

         <wsdl:output message="impl:temperatureConvertorResponse" name="temperatureConvertorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemperatureConvertorSoapBinding" type="impl:TemperatureConvertor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="temperatureConvertor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="temperatureConvertorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="temperatureConvertorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemperatureConvertorService">

      <wsdl:port binding="impl:TemperatureConvertorSoapBinding" name="TemperatureConvertor">

         <wsdlsoap:address location="http://localhost:8080/SoapAssignment/services/TemperatureConvertor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
